@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

:root {
    /* --primary-color:#b43f3f; */
    --light-bg: #f3f3f3;
    --light-bg-2: #dfdfdf;
    --dark-bg: #222;

    --light-text: #f3f3f3;
    --muted-light-text: #b9b9b9;
    --dark-text: #222;
    --muted-dark-text: #929292;

    --primary-color:#d46b48;
    --primary-color-hover:#e48769;
    --primary-color-dark:#a54829;

    /* Pallete */
    --light-background-color:#f3f3f3 ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    text-align: center;
    background-color: var(--light-background-color);

}

a {
    text-decoration: none;
    /* color: #fdefef; */
    color: var(--light-text);
}


input {
    height: 3.0em;
    width: 100%;
    margin-bottom: 1em;
}

label {
    color: rgb(121, 121, 121);
    font-size: .8em;
}

.required:after {
    content: '*';
    color: red;
    font-size: 1.2em;
}





/* HEADER */ 
header {
    color: #222;
    background-color: var(--light-background-color);
    font-size: 20px;
    overflow: hidden;
}

header .content {
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    width: 70%;
    margin: auto;
}

.logo {
    width: 120px;
    flex-shrink: 0;
    align-self: center;
}

.logo a {
    color: var(--light-text);
}

.logo a:hover {
    color: var(--primary-color);
}

.logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* END HEADER */




/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 18px; */
    font-size: 1.0em;
    margin-left: 3em;
}

.navbar-links .link {
    margin-right: 2.7em;
    width: 100px;
    color: var(--light-text);
}

.navbar-links .link:hover {
    color: var(--primary-color);
}

.navbar-links a.link:active {
    font-size: .95em;
    padding: 0em .18em;
}

.navbar-links a.link:nth-child(1):active {
    font-size: .95em;
    padding: 0 .132em;
}

.current-page {
    color: var(--primary-color) !important;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1.2em;
}

.search-bar button:hover {
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.search-bar input{
    position: absolute;
    right: 50px;
    top: 5px;
    padding-left: 0em;
    font-size: large;
    width: 0px;
    height: 2.0em !important;
    border: none;
    border-radius: -1;
    border: 0px solid #ddd;
    transition: .5s;
}

.search-bar button{
    height: 46px;
    width: 49px;
    /* width: 1.5em;
    height: 1.5em; */
    border: none;
    background-color: inherit;

}

.search-bar button:hover {
    cursor: pointer;
}

.search-bar .icon {
    padding-top: .2em;
    width: 1.5em;
    height: 1.5em;
}

.search-bar button:active {
    padding-top: .2em;
    width: 49px;
    height: 46px;
}


/* END NAVBAR */








/* TOP BAR */
.topbar {
    background-color: var(--dark-bg);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.topbar-content {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 0;
    font-size: medium;
}

.right-side .login, .right-side .register{
    font-size: 13px;
}

.topbar .topbar-item {
    display: flex;
    align-items: center;
    margin-left: 1.3em;
}

.topbar-item:hover{
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.topbar .icon {
    font-size: 1em;
    /* width: 16px; */
    margin-right: .5em;
    /* filter: invert(85%); */
}

.topbar .icon:hover {
    /* filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
}

.left-side, .right-side {
    display: flex;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    padding: .5em;
    margin-left: 1em;
    box-sizing: content-box;

}

.shopping-cart {
    font-size: 1.0em;
    margin-left: 1em;
}

.cart-wrapper{
    /* filter: invert(56%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
    display: flex;
    align-items: center;
    color:var(--light-text);
}

.cart-wrapper:hover {
    /* filter: invert(56%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
}

.user-options {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.user-menu {
    position: relative;
}

.user-menu:hover .user-menu-box{
    visibility: visible;
    opacity: 1;
}

.user-menu-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -70px;

    padding: .8em 1.3em;
    border-radius: 5px;

    background-color: black;
    color: #000;
    transition: .2s;
}

.user-menu-box a {
    white-space: nowrap;
    text-align: left;
    font-size: 1em;
    line-height: 2.5em;
    color: var(--light-text);
}

.menu-option {
    display: flex;
    border-bottom: 1px solid #111;
}

.menu-option::before {
}

.menu-option:hover {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid white;
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.menu-option .icon {
    margin-right: 1em;
}

/* END TOPBAR */ 








/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 400px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--light-text);
}

.banner h1 {
    font-size: 30px;
    margin-bottom: 1em;
}

.banner p {
    font-size: 22px;
}

/* END BANNER */







footer {
    width: 100%;
    height: 300px;
    background-color: #121212;
    /* background-color:#131917 ; */
}

.useful-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-top: 4em;
}

.links-column {
    /* width: 100px; */
}

.useful-links h1{
    font-size: larger;
    color: var(--light-text);
    margin-bottom: .4em;
}

.useful-links a{
    display: block;
    margin: auto;
    padding-top: .3em;
    text-align: left;
    color: var(--light-text);
    text-decoration: none;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.2em 0 1.2em 0;
    background-color: black;
    color: var(--light-text);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







/* Showcase */

.title {
    position: relative;
    /* font-family: 'Roboto Slab', 'Times New Roman', Times, serif; */
    font-weight: 300;
    font-size: 3em;
    display: inline;
    /* color: var(--primary-color); */
    color: black;
}

.title:after {
    position: absolute;
    content: '';
    /* left: 37%; */
    left: 0;
    width: 55px;
    height: 55px;
    border-bottom: 5px solid var(--primary-color);
}

.title-container {
    padding: 2em 0 2em 0;

}


.showcase {
    background-color: var(--dark-background-color);
    /* background-color: #fdefef; */
    padding-bottom: 4em;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: flex-start; */
    gap: 2em;
    width: 70%;
    margin: auto;
}

.product {
    position: relative;
    /* padding: 1em 1em 3em 1em; */
    overflow: hidden;
    min-height: 250px;
    /* height: 350px; */
    border-radius: 5px;

    background-color: var(--light-background-color);
    box-shadow: 0px 3px 10px 0px #949494;

}

.product-info {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .0em 1em 1em 1em;
    /* padding: .6em 1em; */
    color: black;

}

.product-title {
    /* padding: .2em 1em; */
    font-size: 1.0em;
}

p.product-price {
    font-size: 1.2em;
    color: var(--primary-color-dark);
}

.image-wrapper {
    margin: auto;
    width: 100%; 
    
}

.image-wrapper img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
}

.product:hover > .overlay{
    left: 0;
}

.product:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    height: 100%;
    background-color: rgba(2, 1, 1, .4);
    transition: all .5s ease;
}

.overlay h1 {
    /* white-space: nowrap; */
    font-size: x-large;
    color: white;
    text-align: center;
    margin-top: 60%;
    /* padding-top: 50%; */
}

/* END SHOWCASE */







/* LOGIN */


.login-page, .register-page{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100vh;
    min-height: 580px;
    padding: 1em;
}

.login-area, .register-area{
    width: 400px;
    height: 520px;
    background-color: var(--light-bg);
    /* box-shadow: 0px 3px 20px 0px #888; */
    box-shadow: 0px 3px 20px 0px #000;
    border-radius: 4px;

}

.login-area input, .register-area input {
    padding: 1em;
    margin-top: 1em;
    /* background-color: #ebebeb;  */
    background-color: var(--light-bg-2); 
    border: none;
    border-radius: 50px;
    font-size: 15px;
    width: 260px;
    color: var(--dark-text);
}

.login-page h1, .register-page h1 {
    padding-top: 1.8em;
    padding-bottom: 0em;
    font-size: 2.5em;
}

.login-page h1 {
    padding-top: 2.2em;
    margin-bottom: .4em;

}

.login-page a, .register-page a {
    display: block;
    color: var(--muted-dark-text);
    margin-top: 1em;
}

.login-page button, .register-page button{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 250px;
    height: 40px;
    background-color: midnightblue;
    color: var(--light-text);
    border: none;
    border-radius: 5px;
    margin-top: 1em;
}

.register-page {
    /* height: 700px; */
}

.register-area input {
    display: block;
    margin: auto;
    margin-top: 1em;
}

.register-area {
    /* width: 600px; */
    height: 520px;
}

.logout-icon {
    transform: scaleX(-1);
}


/* END LOGIN */










/* ABOUT */

.about {
    font-size: large;
    height: 100vh;
    background-color: #ebebeb;
}

.about-wrapper {
    width: 70%;
    /* height: 100vh; */
    margin: auto;
}

.text-container h1 {
    font-size: 2.5em;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: .4em;
}

.text-container {
    transform: translateY(15%);
    width: 55%;
    /* margin-left: 14em; */
    padding-top: 0.0em;
    text-align: left;
    /* padding: 3em; */
    /* padding-bottom: 8em; */
    line-height: 2.0em;
}


/* END ABOUT */







/* PRODUCT DETAIL */

.product-detail {
    display:flex;
    justify-content: center;
    width: 70%;
    margin: 2em auto;
    /* padding: 2em; */
    background-color: var(--light-bg);
    /* background-color: white; */
    text-align: left;
    box-shadow: 0px 3px 20px 0px #999;
}

.product-detail h2,
.product-detail p{
    padding-top: 1em;
}

.product-detail .image-container{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 500px;
    /* height: fit-content; */
}

.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 1.1em; */
    /* line-height: 1.7em; */
    /* padding-top: 1em;
    padding-left: 1em; */

}

.description .price {
    /* text-align: center; */
    margin-bottom: .3em;
    margin-top: 1em;
    font-size: 1.5em;
}

.add-button {
    display: inline-block;
    /* width: fit-content; */
    margin-top: 1em;
    color: white;
    background-color: var(--primary-color);
    padding: .6em 0.8em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
}

.add-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

.add-button:active {
    margin: 1.1em .15em 0 0.15em;
    padding: .55em 0.65em;

}
/* END PRODUCT DETAIL */




/* SHOPPING CART PAGE*/
.shopping-cart-section {
    width: 70%;
    margin: auto;
}

.page-title {
    color: #333;
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
    margin: 1em 0 .5em 0 ;
    background-color: #ddd;
    border-radius: 3px;
    padding: .5em .5em;
}

.cart-items {
    margin-top: 1.0em;
    display: flex;
    flex-direction: column;
}

.cart-items > .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: auto;
    /* background-color: #d3d3d3; */
    background-color: var(--light-bg);
    box-shadow: 0px 3px 10px 0px #999;
    margin-bottom: 1em;
    border-radius: 4px;
    padding: .5em;
}

.item-description {
    /* background-color: #c3c3c3; */
    align-self: flex-start;
    width: 350px;
    min-height: 200px;
    text-align: left;
}

.item-description p {
    font-size: .9em;
    line-height: 1.5em;
    padding: 0em 1em;
}

.item-title {
    font-size: 1.2em;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 500;
    padding: .7em;
}

.cart-image-wrapper{
    width: 200px;
    /* height: 200px; */

}

.cart-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-controls-container{
    /* align-self: flex-start; */
    align-self: center;
}

.cart-item-controls {
    min-width: 140px;
}

.cart-item-controls p{
    /* font-size: 2em; */
    align-self: center;
    color: #fff;
    margin: 0 1em;

}

.control-button {
    background-color: #ff4030;
    color: #fff;
}

.cart-item-controls > .control-button:active {
    margin: .025em .025em;
    width: 1.25em;
    padding-bottom: 1.25em;
}

.remove-product-button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-weight: bolder;
    text-decoration: underline; 
}

.remove-product-button:hover {
    color: red;
}

p.info-text {
    font-size: 1.3em;
    color: #333;
}

.price-container {
    /* align-self: flex-start; */
    min-width: 170px;
    align-self: center;
    margin-left: 4em;
    margin-right: 3em;
}

.price {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Montserrat', sans-serif;

}

.price-container > .price {
    font-size: 1.7em;
}


/* END SHOPPING CART PAGE*/




/* PROFILE PAGE */ 
.profile-page {
    /* background-color: #ccc; */
    min-height: 300px;
    /* width: 70%;
    margin: auto; */
}

.profile-container {
    width: 70%;
    margin: 2em auto;
    padding: 2em;
    background-color: #f3f3f3;
    box-shadow: 0px 3px 20px 0px #999;
}



.profile-page form {
    margin: auto;
    margin-top: 1.0em;
    width: 500px;
    /* background-color: white; */
    
}

.profile-page form > div {
    margin: auto;
    width: 100%;
    margin-top: .3em;
}

.profile-page label{
    display: block;
    text-align: left;
}

.profile-tabs button {
    cursor: pointer;
    margin-top: 2em;
    width: 220px;
    padding: 1.0em 3em;
    border: none;
    color: #999;
    background-color: #ddd;
    font-size: 1em;
    border-bottom: 2px solid #e8e8e8;
    transition: all .4s;
    opacity: .8;
    /* color: var(--dark-text); */
}

.profile-tabs button:hover {
    opacity: 1;
    background-color: #e8e8e8;
    color: black;
}

.profile-page .street-address {
    display: flex;
}

button.highlighted-tab {
    opacity: 1;
    position: relative;
    background-color: #e8e8e8;
    color: black;
    border-bottom: 2px solid var(--primary-color);
}


/* END PROFILE PAGE */




/* CONTACT PAGE */

.contact-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 2em auto;
    padding: 2em;
    background-color: #f3f3f3;
    box-shadow: 0px 3px 20px 0px #999;
}

.contact-container input, .contact-container textarea {
    display: block;
    width: 100%;
    
}

.form-title {
    text-align: center;
    margin-bottom: 1em;
}

.contact-container textarea {
    height: 180px;
}

.contact-container input {
    height: 3.0em;
    margin-bottom: 1.5em;
}

.contact-container form {
    width: 45%;
    text-align: left;
}

.contact-info {
    margin-top: 4em;
    width: 40%;
    height: fit-content;
    background-color: #222;
    color: white;
    text-align: left;
    padding: 1.8em;
}

.contact-info p {
    /* margin-bottom: 1em; */
    line-height: 2.5em;
}

.contact-info h1 {
    margin-bottom: 1em;
}

.contact-info h2 {
    margin-top: 1em;
}

.contact-info .icon{
    display: inline;
    width: 1.1em;
    height: 1.1em;
    margin-right: .7em;

}

.contact-info .email{
    display: flex;
    align-items: center;
}

.contact-info .phone{
    display: flex;
    align-items: center;
}

.contact-info .address{
    display: flex;
    align-items: center;
}

.contact-info .social-media-icons {
    display: flex;
    margin: initial;
    margin-top: .7em;
}

.contact-info .social-media-icon {
    margin: initial;
    width: 1.1em;
    height: 1.1em;
    padding: 0;
}

.contact-info .icon-link a{
    margin-right: 0.9em;
    padding: .4em;
}


/* END CONTACT PAGE */





/* GENERAL */
.light {
    background-color: #bbb;
}

.flex {
    display: flex;
    align-items: center;
}

.button{
    cursor: pointer;
    font-size: 2.0rem;
    width: 1.3em;
    height: 1em;
    padding-bottom: 1.3em;
    border: none;
    border-radius: 3px;
}

.button-disabled {
    background-color: #777;
    cursor: default; 
}

.flex-align-center {
    /* align-self: center; */
}

.light-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .6em 1em;
    margin: 0 0 1em 0;
    background-color: #ccc;
    border-radius: 4px;
}

.main-button {
    display: inline-block;
    margin-top: 1em;
    color: white;
    background-color: var(--primary-color);
    padding: .6em 0.8em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
}
.main-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

.main-button:active {
    padding: .55em 0.65em;
    margin: 1em 0.15em .095em 0.15em;
    margin-top: 1.025em;
}

/* END GENERAL */






/* Animation test */
@keyframes remove {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}
.removed {
    animation-duration: 0.5s;
    animation-name: remove;

}

