@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

:root {
    /* --primary-color:#b43f3f; */
    --light-bg: #f3f3f3;
    --light-bg-2: #dfdfdf;
    --dark-bg: #222;

    --light-text: #f3f3f3;
    --muted-light-text: #b9b9b9;
    --dark-text: #222;
    --muted-dark-text: #929292;

    --primary-color:#d46b48;
    --primary-color-hover:#F69675;
    --primary-color-dark:#a54829;

    --secondary-color: #51AB80;
    --secondary-color-hover: #82CAA7;

    /* Pallete */
    --light-background-color:#f3f3f3 ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    position: relative;
    text-align: center;
    background-color: var(--light-background-color);

}

a {
    text-decoration: none;
    /* color: #fdefef; */
    color: var(--light-text);
}


input {
    height: 3.0em;
    width: 100%;
    margin-bottom: 1em;
}

label {
    color: rgb(121, 121, 121);
    font-size: .8em;
}

.required:after {
    content: ' *';
    color: red;
    font-size: 1.2em;
}

.secondary-button {
    font-size: .8em;
    /* text-transform: uppercase; */
    padding: .5em 1.5em;
    background-color: midnightblue;
    border: 1px solid midnightblue;
    border-radius: 3px;
    color: var(--light-text);
    font-weight: 600;
}

.secondary-button:hover{
    cursor: pointer;
    background-color: rgb(42, 42, 165);

}

.muted-button {
    width: fit-content;
    color: var(--dark-bg);
    border: 2px solid var(--dark-bg);
    background-color: inherit;
    padding: .6em 0.8em;
    font-size: 0.9em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.muted-button:hover {
    background-color: var(--dark-bg);
    color: white;
    cursor: pointer;

}

.muted-button:active {
    padding: .5em 0.7em;
    margin: 0.1em 0.1em;

}

.muted-button-2 {
    width: fit-content;
    /* color: var(--primary-color);
    border: 2px solid var(--primary-color); */

    color: #51AB80;
    border: 2px solid #51AB80;

    background-color: inherit;
    padding: .6em 0.8em;
    font-size: 0.9em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.muted-button-2:hover {
    /* background-color: var(--primary-color); */
    background-color: #51AB80;
    color: white;
    cursor: pointer;

}

.primary-button {
    width: fit-content;
    margin-top: 1em;
    color: var(--light-text);
    background-color: var(--primary-color);
    /* background-color: var(--secondary-color); */
    padding: .6em 0.8em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.primary-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
    /* background-color: var(--secondary-color-hover); */
}

.error {
    background-color: #ffe3e6 !important;
    border: 1px solid #ecbbbf !important;
    color:#b34c55 !important;
}

.warning {
    background-color: #fffbd6 !important;
    border: 1px solid #f7edad !important;
    color:#8b7120 !important;

}

.success {
    background-color: #e7ffe2 !important;
    border: 1px solid #b3f7ad !important;
    color:#278c20 !important;

}

#flash-message {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    z-index: 1;
    /* background-color: #ffe3e6;
    border: 1px solid #ecbbbf;
    color:#b34c55; */
    border-radius: 5px;
    text-align: left;
    padding: .5em 1em;
    overflow: hidden;
    animation: pop-up .1s linear;
}

#flash-message button {
    all: initial;
    display: flex;
    align-items: center;
    font-size: .5em;
    /* filter: invert(54%) sepia(26%) saturate(816%) hue-rotate(306deg) brightness(95%) contrast(85%); */
}

#flash-message button:hover {
    cursor: pointer;
}

@keyframes pop-up {
    from {
        height: 0px;
        padding-top: 0;
        padding-bottom: 0;
    }

    to {
        height: 42px;
    }
}






/* HEADER */ 
header {
    color: #222;
    background-color: var(--light-background-color);
    font-size: 20px;
    overflow: hidden;
}

header .content {
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    width: 70%;
    margin: auto;
}

.logo {
    width: 120px;
    flex-shrink: 0;
    align-self: center;
}

.logo a {
    color: var(--light-text);
}

.logo a:hover {
    color: var(--primary-color);
}

.logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* END HEADER */




/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar {
    display: none;
}

.navbar-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 18px; */
    font-size: 1.0em;
    margin-left: 3em;
}

.navbar-links .link {
    display: inline-block;
    margin-right: 2.7em;
    /* width: 100px; */
    color: var(--light-text);
}

.navbar-links .link:hover {
    color: var(--primary-color);
}

.navbar-links a.link:active {
    /* font-size: .95em;
    padding: 0em .18em; */
    transform: scale(.97) translateY(1px);
}

.navbar-links a.link:nth-child(1):active {
    /* font-size: .95em;
    padding: 0 .132em; */
}

.current-page {
    color: var(--primary-color) !important;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1.2em;
}

.search-bar button:hover {
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.search-bar input{
    position: absolute;
    right: 50px;
    top: 5px;
    padding-left: 0em;
    font-size: large;
    width: 0px;
    height: 2.0em !important;
    border: none;
    border-radius: -1;
    border: 0px solid #ddd;
    transition: .5s;
}

.search-bar button{
    height: 46px;
    width: 49px;
    /* width: 1.5em;
    height: 1.5em; */
    border: none;
    background-color: inherit;

}

.search-bar button:hover {
    cursor: pointer;
}

.search-bar .icon {
    padding-top: .2em;
    width: 1.5em;
    height: 1.5em;
}

.search-bar button:active {
    padding-top: .2em;
    width: 49px;
    height: 46px;
}


/* END NAVBAR */








/* TOP BAR */
#mobile-topbar{
    display: none;
}

.topbar {
    background-color: var(--dark-bg);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.topbar-content {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 0;
    font-size: medium;
}

.right-side .login, .right-side .register{
    font-size: 13px;
}

.topbar .topbar-item {
    display: flex;
    align-items: center;
    margin-left: 1.3em;
}

.topbar-item:hover{
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.topbar .icon {
    font-size: 1em;
    /* width: 16px; */
    margin-right: .5em;
    /* filter: invert(85%); */
}

.topbar .icon:hover {
    /* filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
}

.left-side, .right-side {
    display: flex;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    padding: .5em;
    margin-left: 1em;
    box-sizing: content-box;

}

.shopping-cart {
    font-size: 1.0em;
    margin-left: 1em;
}

.cart-wrapper{
    /* filter: invert(56%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
    display: flex;
    align-items: center;
    color:var(--light-text);
}

.cart-wrapper:hover {
    /* filter: invert(56%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%); */
}

.user-options {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    /* color: var(--primary-color); */
}

.user-menu:hover .user-menu-box{
    visibility: visible;
    opacity: 1;
}

.user-menu-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -70px;
    top: 25px;

    padding: .8em 1.3em;
    border-radius: 5px;

    background-color: black;
    color: #000;
    transition: .2s;
}

.user-menu-box a {
    white-space: nowrap;
    text-align: left;
    font-size: 1em;
    line-height: 2.5em;
    color: var(--light-text);
}

.menu-option {
    display: flex;
    border-bottom: 1px solid #111;
}

.menu-option::before {
}

.menu-option:hover {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid white;
    filter: invert(44%) sepia(11%) saturate(3240%) hue-rotate(327deg) brightness(90%) contrast(84%);
}

.menu-option .icon {
    margin-right: 1em;
}

/* END TOPBAR */ 








/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 400px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--light-text);
}

.banner h1 {
    font-size: 30px;
    margin-bottom: 1em;
}

.banner p {
    font-size: 22px;
}

/* END BANNER */







footer {
    /* width: 70%; */
    /* height: 300px; */
    background-color: #121212;
    padding: 3.0em 0 1em 0 ;
    /* background-color:#131917 ; */
}

.footer-row {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    line-height: 2.5em;
}

.footer-block {
    /* margin-top: 2em; */
}

footer .icon {
    width: 20px;
    margin-right: 1em;
    /* height: 1em; */
}

footer .social-media-icons {
    margin-top: .4em;
    height: 4em;
    display: flex;
}

.useful-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    /* padding-top: 4em; */
    color: var(--light-text);
}

.copyright {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 2.5em;
    /* padding: 1.2em 0 1.2em 0; */
    color: var(--muted-light-text);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






/* Showcase */

.title {
    position: relative;
    /* font-family: 'Roboto Slab', 'Times New Roman', Times, serif; */
    font-weight: 300;
    font-size: 3em;
    display: inline;
    /* color: var(--primary-color); */
    color: black;
}

.title:after {
    position: absolute;
    content: '';
    /* left: 37%; */
    left: 0;
    width: 55px;
    height: 55px;
    border-bottom: 5px solid var(--primary-color);
}

.title-container {
    padding: 2em 0 2em 0;

}


.showcase {
    background-color: var(--dark-background-color);
    /* background-color: #fdefef; */
    padding-bottom: 4em;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: flex-start; */
    gap: 2em;
    width: 70%;
    margin: auto;
}

.product {
    position: relative;
    /* padding: 1em 1em 3em 1em; */
    overflow: hidden;
    min-height: 250px;
    /* height: 350px; */
    border-radius: 5px;

    background-color: var(--light-background-color);
    box-shadow: 0px 3px 10px 0px #949494;

}

.product-info {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .0em 1em 1em 1em;
    /* padding: .6em 1em; */
    color: black;

}

.product-title {
    /* padding: .2em 1em; */
    font-size: 1.0em;
}

p.product-price {
    font-size: 1.2em;
    color: var(--primary-color-dark);
}

.image-wrapper {
    margin: auto;
    width: 100%; 
    
}

.image-wrapper img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
}

.product:hover > .overlay{
    left: 0;
}

.product:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    height: 100%;
    background-color: rgba(2, 1, 1, .4);
    transition: all .5s ease;
}

.overlay h1 {
    /* white-space: nowrap; */
    font-size: x-large;
    color: white;
    text-align: center;
    margin-top: 60%;
    /* padding-top: 50%; */
}

/* END SHOWCASE */







/* LOGIN */


.login-page, .register-page{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: black;
    height: 100vh;
    min-height: 760px;
    padding: 1em;
}

#login-error {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: #ffe3e6;
    border: 1px solid #ecbbbf;
    margin-bottom: 1em;
    padding: 1.0em 2.5em;
    border-radius: 5px;
    font-size: .85em;
}

#login-error button {
    all: initial;
    display: flex;
    align-items: center;
    font-size: .5em;
    filter: invert(54%) sepia(26%) saturate(816%) hue-rotate(306deg) brightness(95%) contrast(85%);
}

#login-error button:hover {
    cursor: pointer;
}

.login-area, .register-area{
    height: fit-content;
    margin-top: 3em;
    background-color: var(--light-bg);
    padding: 2.5em 2em;
    border-radius: 5px;
    /* box-shadow: 0px 3px 20px 0px #888; */
    box-shadow: 0px 3px 20px 0px #000;

}

.login-area form, .register-area form{
    padding: 1.5em 1.5em;
    background-color: var(--light-bg-2);
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.login-area-footer {
    margin-top: 1em;
    padding: 1.3em;
    background-color: var(--light-bg);
    border: 1px solid #cacaca;
    border-radius: 4px;
    font-size: .85em;
}

.input-block {
    margin: auto;
    width: fit-content;
}

.input-block label{
    color: var(--dark-text);
    font-size: .9em;
    font-weight: 600;
    /* text-align: left; */
}

.login-page h1, .register-page h1 {
    /* padding-top: 1.8em; */
    padding-bottom: 0em;
    font-size: 1.8em;
    margin-bottom: .7em;
}

.login-page h1 {
    /* padding-top: 2.2em; */

}

.login-area-footer a {
    /* font-size: .8em; */
    color: #0366d6;
}

.label-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.label-line .required:after {
    font-size: 1em;

}

.label-line a {
    font-size: .8em;
    color: #0366d6;
    font-weight: 600;

}

.login-area input, .register-area input {
    height: 2em;
    padding: 0 .6em;
    margin-top: .3em;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
    width: 260px;
    color: var(--dark-text);
}

.login-area input:focus, .register-area input:focus {
    border: 2px solid #0d76ee;
    box-shadow: 0px 0px 2px 0px #0d76ee;
}


.login-page button, .register-page button{
    padding: initial;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 260px;
    height: 35px;
    background-color: #329465;
    color: var(--light-text);
    border: none;
    border-radius: 5px;
    margin-top: .3em;
}

.login-page button:hover ,
.register-page button:hover {
    background-color: var(--secondary-color);
}

.logout-icon {
    transform: scaleX(-1);
}


/* END LOGIN */










/* ABOUT */

.about {
    font-size: large;
    height: 100vh;
    background-color: #ebebeb;
}

.about-wrapper {
    width: 70%;
    /* height: 100vh; */
    margin: auto;
}

.text-container h1 {
    font-size: 2.5em;
    /* font-family: 'Roboto Slab', 'Times New Roman', Times, serif; */
    font-weight: 300;
    margin-bottom: .4em;
}

.text-container {
    transform: translateY(15%);
    width: 55%;
    /* margin-left: 14em; */
    padding-top: 0.0em;
    text-align: left;
    /* padding: 3em; */
    /* padding-bottom: 8em; */
    line-height: 2.0em;
}


/* END ABOUT */







/* PRODUCT DETAIL */

.product-detail {
    display:flex;
    justify-content: center;
    width: 70%;
    margin: 2em auto;
    /* padding: 2em; */
    background-color: var(--light-bg);
    /* background-color: white; */
    text-align: left;
    box-shadow: 0px 3px 20px 0px #999;
    border-radius: 8px;
    overflow: hidden;
    animation: fade-in .5s linear;
}

.product-detail h2,
.product-detail p{
    padding-top: 1em;
}

.product-detail .image-container{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 500px;
    /* height: fit-content; */
}

.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 1.1em; */
    /* line-height: 1.7em; */
    /* padding-top: 1em;
    padding-left: 1em; */

}

.description .price {
    /* text-align: center; */
    margin-bottom: .3em;
    margin-top: 1em;
    font-size: 1.5em;
}

.add-button {
    width: fit-content;
    margin-top: 1em;
    color: var(--light-text);
    background-color: var(--primary-color);
    padding: .6em 0.8em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.add-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

.add-button:active {
    margin: 1.1em .15em 0 0.15em;
    padding: .55em 0.65em;

}

.add-button img {
    margin-right: .4em;
}

/* END PRODUCT DETAIL */




/* SHOPPING CART PAGE*/
.shopping-cart-section {
    width: 70%;
    margin: auto;
}

.shopping-cart-section .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: #ddd;
    margin-top: 1em;
    border-radius: 4px;
}

.shopping-cart-section .muted-button {
    display: block;
    /* text-transform: uppercase; */
}

.page-title {
    color: var(--dark-text);
    font-weight: 100;
    font-size: 1.5em;
    text-align: left;
}

.empty-cart {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg-2);
    box-shadow: 0px 3px 20px 0px #999;
    height: 350px;
    border-radius: 4px;
}

.empty-cart a {
    margin-top: 1em !important;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--light-text);
}

.cart-items {
    margin-top: 1.0em;
    display: flex;
    flex-direction: column;
}

.cart-items > .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: auto;
    /* background-color: #d3d3d3; */
    background-color: var(--light-bg);
    box-shadow: 0px 3px 10px 0px #999;
    margin-bottom: 1em;
    border-radius: 4px;
    padding: .5em;
}

.item-detail {
    display: flex;
}

.last-added-item {
    /* animation: fade-in 1s linear; */
    animation: last-added 1.2s ease-out;
}

.item-description {
    /* background-color: #c3c3c3; */
    align-self: flex-start;
    width: 350px;
    min-height: 200px;
    text-align: left;
}

.item-description p {
    font-size: .9em;
    line-height: 1.5em;
    padding: 0em 1em;
}

.item-title {
    font-size: 1.2em;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 500;
    padding: .7em;
}

.cart-image-wrapper{
    width: 200px;
    height: 200px;

}

.cart-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-controls-container{
    /* align-self: flex-start; */
    align-self: center;
}

.cart-item-controls {
    min-width: 140px;
}

.cart-item-controls p{
    /* font-size: 2em; */
    align-self: center;
    color: #fff;
    margin: 0 1em;

}

.control-button {
    /* background-color: #ff4030; */
    background-color: var(--primary-color);
    color: #fff;
}

.cart-item-controls > .control-button:active {
    margin: .025em .025em;
    width: 1.25em;
    padding-bottom: 1.25em;
}

.remove-product-button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-weight: bolder;
    text-decoration: underline; 
}

.remove-product-button:hover {
    color: red;
}

p.info-text {
    font-size: 1.3em;
    color: #333;
}

.price-container {
    /* align-self: flex-start; */
    min-width: 170px;
    align-self: center;
    margin-left: 4em;
    margin-right: 3em;
}

.price {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Montserrat', sans-serif;

}

.price-container > .price {
    font-size: 1.7em;
}

.purchase-summary {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between  ;
    margin: 0 0 1.3em 0 ;
    /* margin-top: .5em;
    margin-bottom: 1.5em; */
    padding: .3em 0em;
}

.purchase-summary .buttons {
    display: flex;
    flex-direction: row-reverse;

}

.purchase-summary p {
    font-size: 2.0em;
    color: var(--dark-text);
}

.shopping-cart-section .primary-button {
    margin: 0;
    font-size: 1.07em;
}

.shopping-cart-section .muted-button-2 {
    margin: 0;
    margin-left: 1em;
    font-size: 1.0em;
}


/* END SHOPPING CART PAGE*/





/* PURCHASE SUCCESS PAGE */ 

.purchase-success-page {
    width: 70%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg-2);
    box-shadow: 0px 3px 20px 0px #999;
    height: 405px;
    border-radius: 4px;
}

.purchase-success-page .buttons {
    /* display: flex; */
    margin-top: 1em;

}

.purchase-success-page a {
    margin-top: 1em !important;
    margin-left: 1em;
    display: block;
    width: 240px;
    font-size: 1.1em;
    font-weight: 600;
    /* color: var(--light-text); */
}



/* END PURCHASE SUCCESS PAGE*/




/* 404 PAGE */
.page-not-found {
    width: 70%;
    height: 500px;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-not-found h1{
    font-size: 8em;
}

.page-not-found p{
    font-size: 2em;
}

.page-not-found .primary-button {
    margin: 2.0em auto;
    font-size: 1.2em;
}

/* END 404 PAGE */





/* PROFILE PAGE */ 
.profile-page {
    /* background-color: #ccc; */
    min-height: 300px;
    /* width: 70%;
    margin: auto; */
}

.profile-container {
    width: 70%;
    /* width: 40%; */
    margin: 2em auto;
    /* padding: 1em; */
    background-color: var(--light-bg);
    box-shadow: 0px 3px 10px 0px #999;
    border-radius: 5px;
    overflow: hidden;
}

.profile-container .secondary-button {
    margin: 1em

}

.profile-page form {
    margin: auto;
    margin-top: 1.0em;
    width: 500px;
    /* width: 90%; */
    /* padding: 1em; */
    /* background-color: white; */
}

.field-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.big-input {
    width: 420px;
}

.small-input {
    width: 70px;
}

select {
    width: 70px;
    height: 3em;
}

.zipcode {
    /* text-align: left; */
    /* margin: 0; */
}

.gender {
    text-align: left;
}

.gender select {
    width: initial;
}

button.form-submit {
    margin: 2em !important;
}

.profile-page form > div {
    margin: auto;
    width: 100%;
    margin-top: .3em;
}

.profile-page label{
    display: block;
    text-align: left;
}

.profile-tabs {
    position: relative;
    border-bottom: 1px solid var(--light-bg-2);
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    
}

.profile-tabs button {
    flex-grow: 2;
    padding: 1.0em 3em;
    border: none;

    color: var(--dark-text);
    background-color: var(--light-bg);
    font-size: 1em;
    border-bottom: 2px solid var(--light-bg);
    transition: all .4s;
    text-transform: uppercase;
    font-family: 'Montserrat';

}

.profile-tabs button:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #eaeaea;
}

button.highlighted-tab {
    opacity: 1;
    position: relative;
    background-color: #dedede;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

button.highlighted-tab:hover {
    background-color: #dedede;
}

.profile-page .street-address {
    display: flex;
}

@keyframes click {
    from {
    }

    to {
    }
    /* animation-duration: 0.5s;
    animation-name: remove; */
}

/* END PROFILE PAGE */




/* CONTACT PAGE */

.contact-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 2.68em auto;
    padding: 2em;
    background-color: #f3f3f3;
    box-shadow: 0px 3px 20px 0px #999;
    border-radius: 10px;
}

.contact-container input, .contact-container textarea {
    display: block;
    width: 100%;
    
}

.form-title {
    text-align: center;
    margin-bottom: 1em;
}

.contact-container textarea {
    height: 180px;
    padding: .4em;
    font-size: .9em;
    font-family: inherit;
}

.contact-container input {
    height: 3.0em;
    margin-bottom: 1.5em;
}

.contact-container form {
    width: 45%;
    text-align: left;
}

.contact-info {
    margin-top: 4em;
    width: 40%;
    height: fit-content;
    background-color: #222;
    color: var(--light-text);
    text-align: left;
    padding: 1.8em;
}

.contact-info p {
    /* margin-bottom: 1em; */
    line-height: 2.5em;
}

.contact-info h1 {
    margin-bottom: 1em;
}

.contact-info h2 {
    margin-top: 1em;
}

.contact-info .icon{
    display: inline;
    width: 1.1em;
    height: 1.1em;
    margin-right: .7em;

}

.contact-info .email{
    display: flex;
    align-items: center;
}

.contact-info .phone{
    display: flex;
    align-items: center;
}

.contact-info .address{
    display: flex;
    align-items: center;
}

.contact-info .social-media-icons {
    display: flex;
    margin: initial;
    margin-top: .7em;
}

.contact-info .social-media-icon {
    margin: initial;
    width: 1.1em;
    height: 1.1em;
    padding: 0;
}

.contact-info .icon-link a{
    margin-right: 0.9em;
    padding: .4em;
}

.contact-container button {
    margin-top: .6em;
}


/* END CONTACT PAGE */






/* MY PURCHASES PAGE */ 

.my-purchases-page {
    /* width: 70%; */
    margin: auto;
    /* background-color: var(--light-bg-2); */
}

.my-purchases-page > h1 {
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 2.0em;
    text-align: left;
}

.my-purchases-page .heading {
    margin-top: 1em;
    background-color: var(--light-bg-2);
    border-radius: 4px;
    padding: .7em;

    display: flex;
    justify-content: space-between;
}

.purchase-list {
    width: 70%;
    margin: auto;
    color: var(--dark-text);
    margin-top: 1em;
    /* box-shadow: 0px 3px 10px 0px #949494; */
    background-color: var(--light-bg);
}

.purchase {
    position: relative;
    box-shadow: 0px 3px 10px 0px #949494;
    margin-bottom: 2em;
    border-radius: 4px;
    padding: 1em;
}

.purchase-info {
    font-size: 1.0em;
    text-align: left;
    line-height: 1.7em;
}

.expand-button {
    background-color: var(--dark-bg);

    padding: .5em .5em .1em .5em;
    border-radius: 4px;
    border: none;
}

.expand-button:hover {
    cursor: pointer;
    background-color: #555;
}


.purchase-item {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding: .5em;
    /* background-color: var(--light-bg-2); */
    border-bottom: 1px solid var(--muted-light-text);
}

/* .purchase-item:last-of-type {
    border: none;

} */

.purchase-product-list {
    display: none;
    overflow: hidden;
    transition: all 1s;
}

.purchase-product-list:first-of-type {
    display: initial !important;
}

.purchase .image-wrapper {
    margin: 0;
    height: 200px;
    width: 200px;
}

.purchase .product-amount {
    align-self: center;
}

.purchase .product-amount .info-text {
    margin: auto;
}


/* END MY PURCHASES PAGE */ 






/* GENERAL */
.light {
    background-color: #bbb;
}

.flex {
    display: flex;
    align-items: center;
}

.button{
    cursor: pointer;
    font-size: 2.0rem;
    width: 1.3em;
    height: 1em;
    padding-bottom: 1.3em;
    border: none;
    border-radius: 3px;
}

.button-disabled {
    background-color: #777;
    cursor: default; 
}

.flex-align-center {
    /* align-self: center; */
}

.light-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .6em 1em;
    margin: 0 0 1em 0;
    background-color: #ccc;
    border-radius: 4px;
}

.main-button {
    display: inline-block;
    margin-top: 1em;
    color: white;
    background-color: var(--primary-color);
    padding: .6em 0.8em;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
}
.main-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

.main-button:active {
    padding: .55em 0.65em;
    margin: 1em 0.15em .095em 0.15em;
    margin-top: 1.025em;
}

/* END GENERAL */






/* Animation test */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

@keyframes last-added {
    from {
        background-color: var(--secondary-color);
        /* background-color: #005e08; */
    }

    to {
        background-color: inherit;
    }

}



.removed {
    animation-duration: 0.2s;
    animation-name: fade-out;
    animation-timing-function: linear;
}





/* RESPONSIVE DESIGN */

@media (max-width: 700px) {
    .topbar, #filler {
        /* display: none; */
    }

    #default-topbar {
        display: none;
    }

    .topbar-content{
        width: 100%;
    }

    #mobile-topbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: .6em 1em;
    }

    .mobile-navbar {
        position: absolute;
        right: 0;

        display: flex;
        flex-direction: column;
        background-color: var(--dark-bg);
        background-color: rgba(2, 1, 1, .9);
        
        width: 80%;
        height: 100vh;
        /* padding: 1em 1em; */
    }

    .mobile-navbar a {
        font-size: 1.0em;
        /* margin-top: 1em; */
        text-align: left;
        color: var(--light-bg-2);
        border-bottom: 1px solid #444;
        padding: .7em 1em
    }

    .mobile-navbar a:hover {
        color: var(--primary-color);
    }

    .mobile-navbar .account-links {
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
    }

    .mobile-navbar .account-links a {
        color: #0d76ee ;
        border: none;
    }

    .mobile-navbar .right-side {
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #444;
        padding: .7em 0em;
    }

    .mobile-navbar .right-side a{
        margin: 0;
        font-size: .6em;
        border: none;
    }

    #mobile-navbar-button {
        /* position: absolute; */
        top: 1em;
        right: 1.5em;

        background-color: unset;
        border: none;
    }

    #mobile-navbar-button:hover {
        cursor: pointer;
    }
    
    #mobile-navbar-button img{
        width: 2.8em;
    }

   .navbar-links {
       display: none
   } 

   .showcase {
       padding-bottom: 3em;
   }

   .products {
       width: 90%;
       display: flex;
       flex-wrap: wrap;
   }

   .products > a {
       margin: auto;
       width: 100%;
   }

   .product-detail {
       min-height: 100vh;
       width: 100%;
       flex-direction: column;
       margin: 0;
       border-radius: 0;
       text-align: center;
   }

   .product-detail .description {
        padding: .5em 1em;
   }

   .product-detail .image-container {
       height: initial;
       width: 90%;
       margin: auto;
   }

   .product-detail .price {
       margin: 0;
   }

   .product-detail .add-button {
       margin: 1.6em auto;
       /* margin-bottom: 2em; */
       width: 95%;
       display: flex;
       justify-content: center;
   }

   .shopping-cart-section {
       width: 100%;
   }

   .empty-cart {
       height: 480px;
       box-shadow: none;
       padding: 0 2em;
       margin: 0;
       font-size: .8em;
   }

   .shopping-cart-section .heading {
       flex-direction: column;
   }

   .cart-items > .item {
       flex-direction: column;
       min-height: 98vh;
       margin-bottom: 2em;
       border-radius: 0;
   }

   .cart-items > .item:last-of-type {
       margin-bottom: 0;
   }

   .cart-image-wrapper {
       all:initial;
       width: 90%;
       margin:auto;
   }

   .item-detail {
       flex-direction: column;
   }

   .item-description {
       text-align: center;
       margin:auto;
       width: initial;
       min-height: initial;
   }

   .cart-controls-container {
       margin-top: 1em;
   }

   .price-container {
       margin: auto;
       margin-bottom: 1em;
   }

   .purchase-summary {
       flex-direction: column;
       font-size: 1em;
       /* margin-top: 1em; */
       margin: 2em 0;

   }

   .purchase-summary p {
        font-size: 1.5em;
   }

   .purchase-summary .buttons {
       flex-direction: column-reverse;
       width: 90%;
   }

   .purchase-summary .buttons a{
       width: 100%;
       display: block;
       margin: 0;
       margin-top: 1em;
       /* padding: 0; */
       text-align: center;
   }

   .remove-product-button {
       /* display: none; */
       /* position: absolute; */
   }

   .login-page, .register-page {
       background-image: none !important;
   }

   .login-area, .register-area {
       margin: 0;
       box-shadow: none;
   }

   .about {
       height: fit-content;
       padding: 2.8em 1.3em;
       background-image: none !important;
   }

   .about h1 {
       /* margin: 0; */
       font-size: 3em;
       text-align: center;
   }

   .about-wrapper {
       display: block;
       margin: 0;
       /* padding: 1em; */
       width: 100%;
   }

   .about .text-container {
       all: initial;
       line-height: 1.7em;

   }

   .contact-container {
       width: 100%;
       margin: 0;
   }

   #contact-form {
       width: 100%;
   }

   .contact-info {
       display: none;
   }


   footer {
    padding-top: 2.0em;
    padding-bottom: .0em;
   }

   footer .useful-links {
       flex-direction: column;
       justify-content: center;
       font-size: .8em;
       /* align-items: center; */

   }

   footer .social-media-icons {
       justify-content: center;
       margin-top: 2em;
   }

   .copyright {
       width: 100%;
       font-size: .65em;
       margin-top: 1em;
   }



}